@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #635854;
}
.header {
    background-color: #635854;
    color: #fff;
    padding: 12px 0;
    border-bottom: 4px solid #3596F5;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.navbar__link {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}
.navbar__item {
    max-width: 120px;
    margin-left: 40px;
    margin-right: 40px;
}
.navbar__item:hover {
    text-shadow: 0 0 7px #fff;
}
.navbar__phone {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}
.navbar__contacts {
    text-align: right;
}
.navbar__text {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.main__section {
    padding-top: 54px;
    padding-bottom: 99px;
}
.home-image path {
    opacity: 0;
    cursor: pointer;
}
path.current-floor {
    opacity: 1;
}
.home-image path:hover {
    opacity: 1;
}
.main {
    display: flex;
}
.main__info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.counter-arrow-down {
    transform: rotateX(180deg);
}
.main__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    line-height: 37px;
    font-size: 37px;
    color: #635854;
    margin: 0;
}
.counter {
    font-family: 'Bebas Neue', sans-serif;
    color: #635854;
    font-size: 124px;
}
.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}
.button-primary:hover {
    color: #3596F5;
    background-color: #fff;
    padding: 15px 35px;
    border: 1px solid #3596F5;
}
.footer__section {
    padding: 50px 0;
    background-color: #D7D7D7;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-2 {
    margin-right: 37px;
}
.phone p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
}
.phone__link {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    margin-right: 59px;
}
.socials__link:hover {
    cursor: pointer;
}
.socials__link:hover path {
    fill: #3596F5;
}
.socials__link:not(:last-child) {
    margin-right: 15px;
}
.footer__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.footer__menu-item:not(:last-child) {
    margin-right: 20px;
}
.footer__menu-link {
    color: inherit;
}
.footer__menu-item:hover {
    color: #3596F5;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.is-open {
    opacity: 1;
    transform: scale(1);
}
.modal-dialog {
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    position: relative;
    transform: translateY(-10%);
    transition: transform .2s, opacity 0.2s;
    transition-delay: 0.1s;
}
.is-open > .modal-dialog {
    opacity: 1;
    transform: translateY(0);
}
.modal-image {
    background-color: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}
.flats path {
    opacity: 0;
    cursor: pointer;
}
.flats path:hover {
    opacity: 1;
}
.flats path.current-flat { opacity: 1; }

.flat-link.current-flat {
    color: #3596F5;
    text-decoration: underline;
}
.modal-title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-top: 0;
    margin-bottom: 25px;
}
.modal-info {
    width: 40%;
    padding: 50px 46px;
}
.modal-counter {
    font-size: 24px;
    line-height: 29px;
    color: #000;
}
.flat-list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-link {
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
}
.flat-item:not(:last-child) {
    margin-bottom: 10px;
}
.flat-link:hover {
    text-decoration: underline;
    color: #3596F5;
}
.modal-alert {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-top: 56px;
}
.modal-close-button {
    position: absolute;
    top: 38px;
    right: 27px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}